<h3>
  Products
</h3>
<h6 *ngIf="selectedCategory">
  you selected <span class="badge badge-secondary">{{selectedCategory}}</span>
</h6>
<table class="table table-striped">
  <tr *ngFor="let product of products">
    <td> {{product.productId}} </td>
    <td> {{product.categoryId}} </td>
    <td> {{product.productName}} </td>
    <td> {{product.quantityPerUnit}} </td>
    <td> {{product.unitPrice}} </td>
    <td> {{product.unitInStock}} </td>
    <td><button type="button" class="btn btn-primary btn-sm">add to chart</button></td>
  </tr>
</table>